[submodule "extern_libraries/MLX42"]
	path = extern_libraries/MLX42
	url = git@github.com:codam-coding-college/MLX42.git
[submodule "extern_libraries/libftx"]
	path = extern_libraries/libftx
	url = https://github.com/RJW-db/libftx
